@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #040711;
  --white: #F9FAFB;
  --blue: #3662E3;
  --light-blue: #7CA9F3;
  --dark-grey: #394150;
  --medium-grey: #4D5562;
  --light-grey: #CDD5E0;
  --bg-grey: #212936cc;
  --bg-grey-2: #121826cc;

  --lg-font: 1rem;
  --reg-font: 0.875rem;
  --md-font: 0.75rem;

  --border-radius-lg: 20px;
  --border-radius-md: 15px;
  --border-radius-sm: 10px;
}

body {
  font-family: 'DM Sans', sans-serif;
  max-width: 1280px;
  background-image: url(./images/hero_img.jpg);
  background-color: var(--black);
  background-size: contain;
  background-repeat: no-repeat;

}



.container {
  margin:0 auto;
  width:100%;
  
  position: relative;
  text-align: center;
}

.logo {
  position: absolute;
  top:5%;
  left:44%;
}

@media (max-width:1024px) {

  .logo {
    top: -8%;
    left:40%;
  }
}

@media (max-width: 450px) {
  .logo {
    left:35%;
  }
}




.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height:700px;
  gap:20px;
  padding:0 4rem;
  margin-top: 60px;

}

@media (max-width:1024px) {
  .wrapper {
    margin-top: 150px;;
  }
}



.fromText, .toText {
  width:50%;
  height:350px;
  border-radius: var(--border-radius-lg);
  padding: 1rem 1.5rem;
  padding-bottom: 0px;;
  border: 1px solid var(--medium-grey);

}

.fromText {
  background-color: #212936cc;
  opacity: 95%;
}

.toText {
  background-color: #121826cc;
  opacity: 95%;
}

@media (max-width:1024px) {
  .wrapper {
    flex-direction: column;
    padding:0;
    height:100%;
  }

  .fromText, .toText {
    width:90%;
    height:400px;
  }

  .toText {
    margin-bottom: 60px;
  }
}

#from {
  background-color: transparent;
  border: none;
  
}

#to {
  background-color: transparent;
  border: none;

}


textarea {
  width:100%;
  height:40%;
  margin-top: 20px;;
  margin-bottom: 20px;;
  resize:none;
  border: none;
  overflow: auto;
  outline: none;
  color:var(--white);
  font-weight: 600;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
 
}

.count {
position: absolute;
left:43%;
bottom:38%;
font-size: 0.8rem;
color: var(--medium-grey);
}

@media (max-width: 1024px) {
  .count {
    left:87%;
    bottom:67%;
  }
}

@media (max-width: 640px) {
  .count {
    left:80%;
    bottom:67%;
  }
}

@media (max-width: 450px) {
  .count {
    left:80%;
    bottom:67%;
  }
}



.languages, .toLanguages {
  height:18%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--reg-font);
  margin-bottom: 10px;
 
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-grey);
  font-weight: 400;
  gap:15px;
}



 ul {
  list-style-type: none;
 
 
}   


.controls {
  display: flex;
  margin-top: 5px;;
  align-items: center;
  

  
}

.controls__list {
  display: flex;
  flex:1;
}



.country__btn {
  border:none;
  background-color: transparent;
  color:var(--light-grey);
  font-size: var(--reg-font);
  font-weight:550;
  cursor: pointer;
  border-radius: 5px;;
}

.country__btn__active {
  background-color: var(--medium-grey);
  padding:0.6rem 0.7rem;;
  color:var(--white);
  margin:-10px;
  border-radius: var(--border-radius-sm);
}

.dropdown__menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; 
  background-color: transparent;
  border: none;
  width:80px;
  color:var(--light-grey);
  font-size:var(--reg-font);
  font-weight: 550;
  cursor: pointer;
  background-image: url(./images/Expand_down.svg);
  background-repeat: no-repeat;
  background-position: 80% 20%;
}

.languages__container {
  width:100%;
  display: flex;;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grey);
}

.toTextLanguages {
  display: flex;
  gap:25px;
  /* padding-bottom: 30px;; */
}




.icon {
  margin-right: 10px;;
  border-radius: var(--border-radius-sm);
  padding:5px;
  border: 2px solid var(--medium-grey);

}

.active {
  border: 5px solid white;
}

.exchange {
  position: absolute;
  top:28%;
  left:90%;
}

@media (max-width:1024px) {
  .exchange {
    top:450px;
    left:85%;
  }
}

@media (max-width: 430px) {
  .exchange {
    left:80%;
  }
}

.translate {
  background-color: var(--blue);
  border: 1px solid var(--light-grey);
  width:160px;
  font-size: var(--lg-font);
  font-weight:bold;
  color: var(--white);
  padding: 10px 0px;
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  cursor: pointer;
}





